:root {
    --bg-color: #5c636e;
    --content-color: #f8b500;
    background-color: #393e46;
    color: #f7f7f7;
}

/*
    https://fonts.google.com/specimen/Roboto+Mono
*/
@font-face {
    font-family: RobotoMono;
    src: url(../resources/font/RobotoMono-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: RobotoMono, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

.home {
    font-size: 30px;
    font-weight: 800;
}

.home:hover {
    color: var(--content-color);
}

.links {
    display: flex;
    align-self: center;
}

.link-container {
    height: 30px;
}

.image-link {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.box {
    margin: auto;
    margin-top: 0.5%;
    width: 90%;
    background-color: var(--bg-color);
    border: 2px solid var(--content-color);
    border-radius: 5px;
    padding: 15px;
}