:root {
    background-color: #393e46;
    color: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    align-items: center;
    height: 60px;
    min-width: 250px;
}

a {
    color: black;
    text-decoration: none;
}

.home {
    padding-left: 10px;
    font-size: 36px;
    font-weight: 600;
    float: left;
}

.external-links {
    align-items: center;
    vertical-align: middle;
    margin-left: auto;
}

.banner-image {
    padding-right: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.content {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #5c636e;
    border-radius: 5px;
    border: 2px double #f8b500;
}